<div class="rowCandidateProposalPlugin">
    <div class="columnCandidateProposalPlugin leftCandidateProposalPlugin; elementor-post__thumbnail" style="background-color: LightGray;">
        <img decoding="async" width="150" height="150" src="{image}" class="attachment-thumbnail size-thumbnail wp-image-3552" alt="{name}"></img>
    </div>
    <div class="columnCandidateProposalPlugin rightCandidateProposalPlugin; elementor-post__text" style="background-color:LightGray;">
        <h3 class="elementor-post__title">
            <a href="{link}">{name}</a>
        </h3>
        <p>
            {role}<br/>
            {institution}<br/>
            {vote}</br>
            <a class="elementor-post__read-more" href="{link}" aria-label="Read more about {name}" tabindex="-1">Vai alla scheda »</a>
        </p>
    </div>
</div>