

<div id="candidates_proposal_form_container" style="background-color:gray; color:#000;">
      <div id="candidates_proposal_form_success" style="background-color:green; color:#fff;"></div>
      <div id="candidates_proposal_form_error" style="background-color:red; color:#fff;"></div>

      <form id="candidates_proposal_form" enctype="multipart/form-data">

            <label for="candidates_proposal_form_name">Name</label><br />
            <input type="text" id="candidates_proposal_form_name" name="name"><br/>

            <label for="candidates_proposal_form_role">Role</label><br />
            <select id="candidates_proposal_form_role" name="role">
                  <option value="" default></option>
            </select>

            <label for="candidates_proposal_form_institution">Institution</label><br />
            <select id="candidates_proposal_form_institution" name="institution">
                  <option value="" default></option>
            </select>

            <label for="candidates_proposal_form_shortbio">Short Bio</label><br />
            <textarea id="candidates_proposal_form_shortbio" name="shortbio"></textarea><br />

            <label for="candidates_proposal_form_website">Website</label><br />
            <input type="text" id="candidates_proposal_form_website" name="website"><br/>
            
            <label for="candidates_proposal_form_picture">Picture</label><br />
            <input type="file" id="candidates_proposal_form_picture" name="picture" accept="image/png, image/jpeg" /><br />
            
            <button type="submit">Propose</button>
      </form>
      
</div>

